<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Code Compiler</title>
    <!-- Стили CodeMirror -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.64.0/codemirror.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.64.0/theme/material-darker.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.64.0/addon/hint/show-hint.min.css">
    
    <!-- Наш пользовательский CSS файл -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="container">
        <h1 class="title">Online Code Editor</h1>
        <label class="input-label">Select language:</label>
        <select id="language" class="language-select">
      <option value="python">Python</option>
      <option value="cpp">C++</option>
      <option value="js">JavaScript</option>
      <option value="c">C</option>
      <option value="go">Golang (not working now)</option>
      <option value="ruby">Ruby (not working now)</option>
      <option value="cs">C# (not working now)</option>
      <option value="java">Java (not working now)</option>
    </select>
        <label class="input-label">Enter your code:</label>
        <textarea id="code" class="code-input"></textarea>
        <button id="run-button" class="submit-button">Run</button>
        <label class="output-label">Output:</label>
        <pre id="output" class="output"></pre>
    </div>


    <!-- Подключение Bootstrap JS файлов -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.64.0/codemirror.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.64.0/mode/python/python.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.64.0/mode/clike/clike.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.64.0/mode/javascript/javascript.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.64.0/mode/ruby/ruby.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.64.0/mode/go/go.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.64.0/mode/csharp/csharp.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.64.0/addon/hint/show-hint.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.64.0/addon/hint/anyword-hint.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>