<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Code Compiler</title>
    <!-- Стили CodeMirror -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.64.0/codemirror.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.64.0/theme/material-darker.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.64.0/addon/hint/show-hint.min.css">

    <!-- Наш пользовательский CSS файл -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}?v=2">
</head>

<body>
    <div class="container">
        <h1 class="title">Online Code Editor</h1>
        <select id="language" class="language-select">
          <option value="python">Python</option>
          <option value="cpp">C++</option>
          <option value="js">JavaScript</option>
          <option value="c">C</option>
          <option value="cs">C# (.NET 7)</option>
          <option value="go">Golang</option>
          <option value="ruby">Ruby</option>
          <option value="java">Java (not working now)</option>
        </select>
    <button id="run-button" class="submit-button btn btn-primary">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play-fill" viewBox="0 0 16 16">
          <path d="M10.804 7.166L4.86 3.57a.91.91 0 0 0-1.29.861v9.138a.91.91 0 0 0 1.29.859l5.944-3.597a.91.91 0 0 0 0-1.56z"/>
        </svg>
    </button>
        <div class="io-container">
            <div class="input-container">
                <label class="input-label">Enter your code:</label>
              <textarea id="code" class="code-input"></textarea>
            </div>
            <div class="output-container">
                <label class="output-label">Output:</label>
              <pre id="output" class="output"></pre>
            </div>
        </div>
    </div>


    <!-- Подключение Bootstrap JS файлов -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.64.0/codemirror.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.64.0/mode/python/python.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.64.0/mode/clike/clike.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.64.0/mode/javascript/javascript.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.64.0/mode/ruby/ruby.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.64.0/mode/go/go.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.64.0/mode/csharp/csharp.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.64.0/addon/hint/show-hint.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.64.0/addon/hint/anyword-hint.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js')}}?v=2"></script>
</body>

</html>