::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to bottom, #491166 0%, 1f0b6b 100%);
}

::-webkit-scrollbar {
    width: 9px;
    /* background-color: #f7f7f7; */
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #491166 0%, #1f0b6b 50%, #273446 51%, 1f0b6b 100%);
    border-radius: 8px;
    box-shadow: inset 0 0 6px rgb(129 45 183 / 90%);
}

.CodeMirror-scrollbar-filler {
    right: 0;
    bottom: 0;
    background: transparent;
}

button#run-button {
    width: 100px;
    background: #b6f1b6;
    border: none;
    border-radius: 5px;
    transition: 0.6s;
}

button#run-button:hover {
    background: #09ae09;
}

.input-container {
    /* min-width: 50%; */
    position: relative;
    display: flex;
    width: 70%;
    background-color: #ffffff00;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
}

.CodeMirror-sizer {
    padding-right: 20%;
}

.output {
    width: 100%;
    resize: none;
    color: #e1ecfa;
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
    white-space: pre-wrap;
    padding-left: 10px;
    padding-top: 10px;
    margin: 0;
}

.output-container {
    position: relative;
    display: flex;
    width: 30%;
    background-color: #ffffff00;
    flex-direction: column;
    flex-wrap: nowrap;
}

.input-label,
.output-label {
    font-size: 14px;
    font-weight: bold;
    color: #e1ecfa;
}


/* Выбор языка */

.tabs {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.io-container {
    /* max-width: 70%; */
    height: 100%;
    width: 100%;
    display: flex;
    gap: 20px;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
}

.tab {
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 4px 4px 0 0;
    margin-right: 4px;
    transition: all 0.1s ease-in-out;
}

.tab:hover {
    background-color: #0056b3;
}

.tab--active,
.tab[data-lang="python"] {
    box-shadow: 0px 0px 0px 2px #007bff inset;
    background-color: white;
    color: #007bff;
}
.diplay-content {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.diplay-content-ctx{
        background-color: #272822;
    width: 100%;
    height: 100%;
}
.display-content-flexgroup {
        background-color: #272822;
    display: block;
    position: relative;
    width: 80%;
    height: 60vh;
}
.CodeMirror {
    padding-right: 20%;
    height: 90%!important;
}

.cm-theme {
        background-color: #272822;
    position: relative !important;
    display: block !important;
    width: 100%!important;
    height: 90%!important;
}
.cm-editor.ͼ1.ͼ3.ͼ4.ͼpe.ͼ82 {
    height: 90%!important;;
}

.App {
    width: 20%;
        background-color: #272822;
}
hr {
  border: none;
  border-top: 2px solid #000000;
  color: #000000;
  overflow: visible;
  text-align: center;
  height: 5px;
}

.vertical-line {
  border-left: 1px solid black;
  height: 100vh;
}
.output-container-ctx {
        background-color: #272822;
    width: 100%;
    color: #a26f08;
}
.section-runner{
        background-color: #272822;
}
